@charset "UTF-8";
/* CSS Document */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
display: inline-block;
}
.clearfix:after {
  clear: both;
}
body{

   /*background-position: right bottom, left top;*/
    background-repeat: no-repeat, repeat;
     /*background: #2c3338;*/
  color: red;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}
.container {
  color: white;
  background-color: black;
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
display: inline-block;
padding: 2px;
}